body {
  background-color: #000000;
}


.hero {
  background-color: #000;
  min-height: 100vh;
  width: 100%;
  display: flex;  
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 120px;
  text-align: center;
  color: #adadad;
  box-sizing: border-box;
  cursor: none;
  color: #000000;
  overflow: hidden;
}



.hero-banner { 
  background-image: url("forestbanner2.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 100px 100px 100px;
  box-sizing: border-box;
  margin-top: -120px;
  margin-bottom: 50px;

}



.hero-banner .container-fluid {

}

.hero-title {
  font-size: clamp(2rem,8vw,8rem);
  font-family: 'Cinzel', serif;
  color: #000;
  text-shadow:
    0 0 6px #a9a9a9,
    0 0 12px #aaaaaa,
    0 0 24px #ababab;
  margin-bottom: 0px;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 100px;
  max-width: 100%;
  text-align: center;
  line-height: 1.0;
}

.hero-banner h2 {
  color: #000;
  text-shadow: 0 0 4px #cccccc;
}


.slogan{
  font-size: 35px;
}



.content{
  background-color: #000;
  color: #aaaaaa;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-right: 50px;
  margin-left: 50px;
  max-width: 100%;
  text-align: center;
  line-height: 1.0;
  font-size: 15px;
}


.stories{
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 40PX;
 
  text-align: center;
  color: #aaaaaa;
  
}

.paratitles {
  margin-bottom: 0px;
  margin-top: 30px;
}

.hero-title {
  opacity: 1;
  animation-name: FadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 3s;
}

@keyframes FadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media (hover: none){
  body{
    cursor: auto;
    background: #222;
  }
  .lantern{
    display: none;
  }
}


/*.footer {
  margin-top: 10px;
}


/*@media (max-width: 992px) {
  .hero-title { font-size: 3.5rem; }
}
!@media (max-width: 768px) {
  .hero-title { font-size: 3.5rem; }
}
!@media (max-width: 480px) {
  .hero-title { font-size: 3.5rem; }

}*/
